@keyframes breath {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.23;
  }
  100% {
    opacity: 1;
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.container .guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 40;
  animation: breath 2s infinite;
}

.container .guide p {
  font-size: 150px;
}
.container .guide span {
  color: white;
}

.background {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
}
